# Database Configurations
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=ergonomic_vest
DATABASE_PORT=5432

# Backend Configurations
BACKEND_PORT=3000
MQTT_BROKER=wss://broker.hivemq.com:8884/mqtt

# Frontend Configurations
FRONTEND_PORT=8080
